span {
    font-weight: bold;
}
h2{
    color: #244fe7;
    background-color: burlywood ;
    padding: 10px;
    margin: 2px -8px;
    text-align: center;
}
h1{
    color: grey;
    background-color: black;
    text-align: center;
    margin: -8px;
    padding: 10px;

}